/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #212121;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home Container */
.home-container {
    text-align: center;
    padding: 60px 20px;
    color: white;
}

/* Welcome Section */
.welcome-section {
    margin-bottom: 50px;
}

.welcome-title {
    font-size: 3em;
    color: #ffffff; /* Blanco */
}

.welcome-text {
    font-size: 1.2em;
    margin: 20px 0;
    color: #d1d1d1; /* Gris claro */
}

.btn-primary {
    background-color: #e91e63; /* Rosa intenso */
    color: #ffffff; /* Blanco */
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #c2185b; /* Rosa oscuro al pasar el cursor */
}

/* Features Section */
.features-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature {
    max-width: 300px;
    margin: 20px;
    text-align: center;
    background-color: #1f1f1f; /* Fondo de las tarjetas */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más fuerte */
}

.feature-image {
    max-width: 100%;
    border-radius: 10px;
}

.feature-title {
    font-size: 1.5em;
    margin: 15px 0;
    color: #ffffff; /* Blanco */
}

.feature-text {
    color: #d1d1d1; /* Texto gris claro */
}

/* Responsive Design */
@media (max-width: 768px) {
    .features-section {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        margin: 10px 0;
    }
}
